@import '../../loader.scss';

.container {
  width: 100%;
  height: $siteHeaderHeight;
}

.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  height: 6rem;
  margin: 0 auto;
  padding: 0 0.5rem 0.5rem 0.5rem;
  // background: rgb(51,153,255);
  // background: linear-gradient(225deg, rgba(51,153,255,1) 0%, rgba(253,51,255,1) 100%);
  // border-bottom-left-radius: 0.5rem;
  // border-bottom-right-radius: 0.5rem;
  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 5.75rem;
    background: $backgroundColor;
    border-radius: 0.5rem;
  }
}